<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Job Scrapper</title>
</head>
<body>
    <main class="container">
        <hgroup>
            <h1>Search Results for "{{keyword}}" : </h1> <!--변수 출력-->
            <a target="_blank" href="/export?keyword={{keyword}}">Export to file</a>
        </hgroup>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %} <!--코드 출력-->
                    <tr>
                        <td>{{job.position}}</td>
                        <td>{{job.company}}</td>
                        <td>{{job.location}}</td>
                        <td><a href="{{job.link}}" target="_blank">Apply now &rarr;</a></td>
                    </tr>
                    {% endfor %} <!--for문을 닫을 때 필수 작성-->
                </tbody>
            </table>
        </figure>
    </main>
</body>
</html>
